.login-container {
    position: fixed;
    top: 0;
    width: 30%;
    height: 100%;
    background:rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.login-section {
    position: absolute;
    right: -33%;
    width: 33%;
    background-color: lightblue;
    padding: 20px;
    transition: all 0.3s ease;
    transition: transform 0.3s ease-out;
}

.login-section.active {
    right: 0;
}
  
.registration-links {
    text-align: center;
    margin-top: 10px;
}
  