.custom-input {
  width: 30%;
  padding: 10px;
  margin: 8px auto;
  box-sizing: border-box;
  border: 2px solid orange;
  border-radius: 4px;
}

.custom-textarea {
  width: 30%;
  height: 100px;
  padding: 10px;
  margin: 8px auto;
  box-sizing: border-box;
  border: 2px solid orange;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 18px;
}
