.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
  
.contact-section,
.social-media-section {
    display: flex;
    align-items: center;
    gap: 10px;
}  