@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Goudy+Bookletter+1911&family=Rajdhani:wght@300&family=Rubik:ital,wght@0,400;1,300&display=swap');

body {
  background-color: #FDD2B5;
  margin: 0;
  font-family: 'Goudy Bookletter 1911', serif;
  color: #333;
}

p, h1, h2, h3, h4, h5, h6, label, span, a {
  font-family: 'Goudy Bookletter 1911', serif;
}


button {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.main-content {
  padding: 20px;
}

.main-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url('https://cdn.vectorstock.com/i/preview-1x/96/44/wide-retro-lightbox-with-light-bulbs-vintage-vector-41449644.jpg') no-repeat center center fixed;;
  background-size: cover;
  opacity: 0.3;
  transition: opacity 2s ease-in-out;
}

.dvd-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  
  button {
    padding: 8px 16px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  button {
    padding: 10px 20px;
  }
}

@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }

  button {
    padding: 12px 24px;
  }
}

